.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .footer__menu-list {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 48px;
  }
}
