.cover__overlay {
  background-color: #2a2c2f4d;
  min-height: 740px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background-color: #2a2c2fcc;
  transition: background-color 0.15s linear;
  cursor: pointer;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover__overlay {
    min-height: 640px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__overlay {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__overlay {
    min-height: 200px;
  }
}
