.cover__overlay {
  background-color: #2a2c2f4d;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__overlay:hover {
  background-color: #2a2c2fcc;
  transition: background-color 0.15s linear;
  cursor: pointer;
}
