.lead__caption {
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  align-self: flex-start;
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .lead__caption {
    font-size: 10px;
    line-height: 1.4px;
  }
}
