.footer {
  max-width: 1184px;
  max-height: 18px;
  display: flex;
  justify-content: space-between;
  padding-top: 92px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    margin: 0 auto;
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0;
    max-height: 320px;
    padding-left: 16px;
    padding-top: 64px;
    flex-direction: column;
    justify-content: center;
  }
}
